$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// $blue: #007bff !default;
$blue: #02005B !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
// $orange: #fd7e14 !default;
$orange: #FF7168 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
//------------------------------
$primary: #204495 !default;
$secondary: #E85A70 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$basis: #EAEAEA !default;
//先針對media queries的width設為變數
$pc-media:1024px;
$pad-media:768px;
$phone-media:480px;
/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/

//電腦
@mixin pc-width() {
  @media all and (max-width: $pc-media) {
    @content;
  }
}

//平板
@mixin pad-width() {
  @media all and (max-width: $pad-media) {
    @content;
  }
}

//手機
@mixin phone-width() {
  @media all and (max-width: $phone-media) {
    @content;
  }
}

$pc-padding: 30px;
$phone-padding: 10px;