@import "_variables";
h1 {
  display: block; // background: aqua;
  width: 100%;
  text-align: center;
}

h4 {
  text-align: center;
}

hr {
  width: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.flex-12 {
  flex: 12;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 70px; // background-image: url(../img/graphic/講座.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid white;
    opacity: 1;
    transition: all .5s;
    @include phone-width {
      width: 200px;
      height: 200px;
    }
    &:hover {
      opacity: 1;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37), 0 0 40px rgba(0, 0, 0, 0.16) inset;
      border: 5px solid $secondary;
      >span {
        color: $secondary;
      }
    }
  }
}

li span {
  position: absolute; // top: -40px;
  top: 260px;
  @include phone-width {
    top: 215px;
  }
}

.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $secondary; // // background: linear-gradient( 135deg, #ED4264, #ffdde1);
  width: 250px;
  height: 100px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 120px;
  text-align: center;
  transform: rotate(-45deg) translate(-20%, -75%);
  transition: box-shadow .5s;
  &:hover {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.27), 0 0 40px rgba(255, 255, 255, 0.06);
  }
  @include phone-width {
    transform: rotate(-45deg) translate(-21%, -100%) scale(0.5);
  }
}

/** LIGHTBOX MARKUP **/

// https://codepen.io/gschier/pen/HCoqh?editors=1100
.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin: 5%;
  animation: showIn .5s;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}

@keyframes showIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}