@charset "UTF-8";
/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/
.text-opacity {
  opacity: 0.8; }

.text-secondary {
  color: #E85A70; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -ms-flex-direction: column;
      flex-direction: column; }

.flex-row {
  -ms-flex-direction: row;
      flex-direction: row; }

.justify-content-start {
  -ms-flex-align: start;
      align-items: flex-start; }

body {
  padding: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #204495;
  color: rgba(234, 234, 234, 0.95);
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 28px;
  letter-spacing: 1px; }
  @media all and (max-width: 1024px) {
    body {
      padding: 40px; } }
  @media all and (max-width: 768px) {
    body {
      padding: 20px; } }
  @media all and (max-width: 480px) {
    body {
      padding: 10px; } }

ul {
  padding: 0;
  list-style: none; }

@media all and (max-width: 768px) {
  .left > h1 {
    margin: 45px 0; } }

h2 {
  margin: 0;
  margin-bottom: 25px; }
  h2:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: #E85A70;
    margin-left: 10px; }

h4 {
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400; }

a {
  color: #EAEAEA;
  text-decoration: none; }

hr {
  border: none;
  border-bottom: solid 4px #E85A70;
  width: 40%;
  margin-left: 0; }

.resume {
  display: -ms-flexbox;
  display: flex;
  max-width: 950px;
  border: solid 8px #EAEAEA;
  padding: 50px;
  position: relative;
  overflow: hidden; }
  @media all and (max-width: 1024px) {
    .resume {
      padding: 30px; } }
  @media all and (max-width: 480px) {
    .resume {
      padding: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      border: solid 5px #EAEAEA; } }

.left {
  -ms-flex: 6;
      flex: 6; }
  @media all and (max-width: 480px) {
    .left {
      -ms-flex: none;
          flex: none;
      width: 90%; } }

.right {
  -ms-flex: 6;
      flex: 6; }
  @media all and (max-width: 480px) {
    .right {
      -ms-flex: none;
          flex: none;
      width: 90%; } }

.left,
.right {
  padding: 15px; }

.left {
  padding-right: 50px;
  border-right: solid 1px #E85A70;
  position: relative; }
  @media all and (max-width: 768px) {
    .left {
      padding-right: 30px; } }
  @media all and (max-width: 480px) {
    .left {
      border-right: none;
      padding-right: 15px; } }

.right {
  padding-left: 50px;
  padding-top: 150px; }
  @media all and (max-width: 768px) {
    .right {
      padding-left: 30px; } }
  @media all and (max-width: 480px) {
    .right {
      padding-left: 15px;
      padding-top: 0px; } }

.photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: wheat;
  background-image: url(../img/person.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 50px; }
  @media all and (max-width: 1024px) {
    .photo {
      right: 30px;
      -ms-transform: scale(0.85);
          transform: scale(0.85); } }
  @media all and (max-width: 768px) {
    .photo {
      -ms-transform: scale(0.8);
          transform: scale(0.8);
      right: 10px; } }
  @media all and (max-width: 480px) {
    .photo {
      position: relative;
      margin: 0 auto;
      margin-top: 20px;
      right: 0;
      -ms-transform: scale(1.2);
          transform: scale(1.2); } }

.decoration {
  width: 30%;
  height: 140px;
  background: linear-gradient(135deg, #ED4264, #ffdde1);
  border-radius: 70px 0 0 70px;
  position: absolute;
  right: 0;
  top: 50px; }
  @media (max-width: 940px) {
    .decoration {
      width: 30%; } }
  @media all and (max-width: 768px) {
    .decoration {
      height: 120px; } }
  @media all and (max-width: 480px) {
    .decoration {
      display: none; } }

.listExperience > li {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .listExperience > li:nth-child(1) ul {
    border-color: #ED4264; }
  .listExperience > li:nth-child(2) ul {
    border-color: #F1617D; }
  .listExperience > li:nth-child(3) ul {
    border-color: #F48096; }
  .listExperience > li:nth-child(4) ul {
    border-color: #F89FAF; }
  .listExperience > li ul {
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 4px #EAEAEA; }

.listSkill {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .listSkill li {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center; }

.circle {
  width: 50px;
  height: 50px;
  background-color: #EAEAEA;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: rgba(232, 90, 112, 0.4); }
  .circle:after {
    content: '';
    display: block;
    background-color: #204495;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.p90,
.p180,
.p270,
.p360 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #E85A70; }

.p180 {
  top: 50%; }

.p270 {
  left: 0;
  top: 50%; }

.p360 {
  left: 0;
  top: 0; }

.listProgram {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .listProgram li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px; }
  .listProgram i {
    color: #EAEAEA; }
  .listProgram span {
    color: rgba(234, 234, 234, 0.8); }

.value {
  height: 100%;
  width: 60%;
  background-color: #E85A70; }

.value.p10v {
  width: 10%; }

.value.p20v {
  width: 20%; }

.value.p30v {
  width: 30%; }

.value.p40v {
  width: 40%; }

.value.p50v {
  width: 50%; }

.value.p60v {
  width: 60%; }

.value.p70v {
  width: 70%; }

.value.p80v {
  width: 80%; }

.value.p90v {
  width: 90%; }

.value.p100v {
  width: 100%; }

.btn {
  border: solid 3px #E85A70;
  padding: 5px 20px;
  margin-right: 10px; }

.fill {
  background-color: #E85A70; }

.listHover:hover > div a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 0.5px #E85A70;
  animation: showHover 0.5s;
  transition: 0.5s; }

.listHover > a {
  position: relative; }

@keyframes showHover {
  0% {
    width: 10%; }
  100% {
    width: 100%; } }

.listWork li {
  margin: 10px 0;
  font-weight: bold; }

.listWork a {
  display: block;
  position: relative; }

.listWork h5 {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
