<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WANG WEI
    link(rel="stylesheet", href="./stylesheets/style.css")
  body
    .resume
      .left
        h1 Wang Wei 
        h4 新賀斯國際有限公司 | 網頁設計
        hr 
        p 喜歡研究新技術，想成為前端工程師，朝著這方向努力邁進
        .buttons
          a(href="#").btn.fill 作品集
          a(href="https://github.com/silverfantacy", target="_blank").btn Github
        .block
          h4 Skills
          h2 專業技能
          ul.listSkill
            li 
              .circle
                .p90
                .p180
                .p270
                .p360
              | 前端網頁開發(html/css/js)
            li 
              .circle
                .p90
                .p180
                .p270
              | 平面設計
        .block
          h4 Prgramming Skill
          h2 程式技能
          ul.listProgram
            li Html
              .bar
                .value.p100v
            li Css
              .bar
                .value.p100v
            li Javascript
              .bar
                .value.p80v
            li Pug/Sass
              .bar
                .value.p90v
            li Node.js
              .bar
                .value.p60v
            li Vue.js
              .bar
                .value.p60v
            li Git
              .bar
                .value.p80v
            li Illustrator
              .bar
                .value.p90v
            li Photoshop
              .bar
                .value.p60v

      .right
        .photo
        .decoration
        .block
          h4 Experience
          h2 經歷
          ul.listExperience
            li.year 2016
              ul
                li 任職於 新賀斯國際有限公司 網頁設計
                li 協助公司更新舊網站
            li.year 2017
              ul
                li 重新製作 新健康營養諮詢中心官網
                li 製作 研討會活動網頁
            li.year 2018
              ul
                li 製作 旅遊競賽活動網頁
                li 重新規劃公司官網
        .block
          h4 Works
          h2 作品
          ul.listExperience
            li.listHover 
              a(href="https://silverfantacy.github.io/BMI-2018/", title="BMI計算機", target="_blank")  BMI計算機
            li.listHover 
              a(href="http://healthbook.com.tw/", title="2018獎勵旅遊競賽", target="_blank")  2018獎勵旅遊競賽
            li.listHover 
              a(href="http://new-health.com.tw/2018_travel/index.html", title="新健康營養諮詢中心", target="_blank")  新健康營養諮詢中心
            li.listHover 
              a(href="http://nutraceutical.org.tw/conference_2017/", title="2017年營養醫學研討會", target="_blank")  2017年營養醫學研討會活動網站
            li.listHover 
              a(href="https://silverfantacy.github.io/Disaster-Prevention/", title="颱風防災資訊平台", target="_blank")  颱風防災資訊平台
            li.listHover 
              a(href="https://silverfantacy.github.io/todolist/", title="To Do List", target="_blank")  To Do List
            li.listHover 
              a(href="https://silverfantacy.github.io/shoppingCart/", title="Bootstrap4 購物網頁", target="_blank")  Bootstrap4 購物網頁
            li.listHover 
              a(href="https://codepen.io/Serment/full/aVwdJL", title="Bootstrap4 後台版型", target="_blank")  Bootstrap4 後台版型
            li.listHover 
              a(href="https://codepen.io/Serment/full/aVwdJL", title="Bootstrap4 後台版型", target="_blank")  Bootstrap4 六角西餐廳
            li.listHover 
              a(href="https://silverfantacy.github.io/hexrestaurant/index.html", title="RWD 六角西餐廳", target="_blank")  RWD 六角西餐廳
            li.listHover 
              a(href="https://silverfantacy.github.io/Kaohsiung-Travel-Information/", title="高雄旅遊資訊", target="_blank")  高雄旅遊資訊
            li.listHover 
              a(href="https://silverfantacy.github.io/hexschool/", title="六角學院首頁", target="_blank")  六角學院首頁
