<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WANG WEI
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.12/css/all.css', integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9', crossorigin='anonymous')
    link(rel="stylesheet", href="./stylesheets/style.css")
  body
    .resume
      .left
        .photo
        h1 Wang Wei 
        h4 新賀斯國際有限公司 | 網頁設計
        hr 
        p 喜歡研究新技術，想成為前端工程師，朝著這方向努力邁進
        .buttons
          a(href="https://github.com/silverfantacy", target="_blank").btn.fill Github
          a(href="graphic.html").btn 作品集
        .block
          h4 Skills
          h2 專業技能
          ul.listSkill
            li 
              .circle
                .p90
                .p180
                .p270
                .p360
              | 前端網頁開發(html/css/js)
            li 
              .circle
                .p90
                .p180
                .p270
              | 平面設計
        .block
          h4 Prgramming Skill
          h2 程式技能
          ul.listProgram
            li 
              i.fab.fa-html5.fa-3x
              span HTML
            li 
              i.fab.fa-css3-alt.fa-3x
              span Css
            li 
              i.fab.fa-js-square.fa-3x
              span Javascript
            li 
              i.fab.fa-sass.fa-3x
              span Pug/Sass
            li 
              i.fab.fa-gulp.fa-3x
              span Gulp
            li 
              i.fab.fa-vuejs.fa-3x
              span Vue.js
            li 
              i.fab.fa-node.fa-3x
              span Node.js
            li 
              i.fab.fa-git.fa-3x
              span Git
        .block
          h4 Experience
          h2 經歷
          ul.listExperience
            li.year 2016
              ul
                li 任職於 新賀斯國際有限公司 網頁設計
                li 協助公司更新舊網站
            li.year 2017
              ul
                li 重新製作 新健康營養諮詢中心官網
                li 製作 研討會活動網頁
            li.year 2018
              ul
                li 製作 旅遊競賽活動網頁
                li 重新規劃公司官網
                li 參加《The F2E - 前端修練精神時光屋》
                  a.f2eLink(href="https://www.thef2e.com/Certificate/-LDy0z9_Df1SYmwRaFnN")
                    img(src="img/Thef2e-Certificate.png", alt="Thef2e-Certificate")
      .right
        .decoration
        .block
          h4 Works
          h2 作品
          ul.listWork
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://codepen.io/Serment/full/zLoJjG", title="The-F2E-No7.canvas", target="_blank")  The-F2E-No7.canvas
                h5.text-opacity 學習canvas的基礎操作與物件導向的製作方式
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://codepen.io/Serment/full/KBzRVK", title="Canvas練習繪圖", target="_blank")  Canvas練習繪圖
                h5.text-opacity Canvas基礎練習繪圖
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/The-F2E-No6.validation/", title="The-F2E-No6.validation", target="_blank")  The-F2E-No6.validation
                h5.text-opacity 練習使用Vue Cli、webpack，主要練習router操作、components的製作...
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://github.com/silverfantacy/The-F2E-No5.comic-viewer", title="The-F2E-No5.comic-viewer", target="_blank")  The-F2E-No5.comic-viewer
                h5.text-opacity 嘗試使用Vue Cli、webpack製作漫畫閱讀器，主要練習router操作、components的製作
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/The-F2E-No4.product-gallery/", title="The-F2E-No4.product-gallery", target="_blank")  The-F2E-No4.product-gallery
                h5.text-opacity 整合 GULP、PUG、SASS ，使用Grid排版產品列表
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/The-F2E-No3.admin-order/index.html", title="The-F2E-No3.admin-order", target="_blank")  The-F2E-No3.admin-order
                h5.text-opacity 整合 GULP、BS4、PUG、SASS 排版「管理訂單」的後台管理介面
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/The-F2E-No2.filter/", title="The-F2E-No2.filter", target="_blank")  The-F2E-No2.filter
                h5.text-opacity 運用Vue.js、Axios串接API，用filter篩選出畫面上需要的資料
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/The-F2E-No1.todolist/", title="The-F2E-No1.todolist", target="_blank")  The-F2E-No1.todolist
                h5.text-opacity 整合 GULP、BS4、PUG、SASS 的功能，使用Vue.js來串接資料
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/hexschoo-2018/", title="六角學院首頁", target="_blank")  六角學院首頁
                h5.text-opacity 整合 GULP、BS4、PUG、SASS 的功能，製作 RWD 網站
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://codepen.io/Serment/full/OvGmXz", title="Login UI練習", target="_blank")  Login UI練習
                h5.text-opacity 不使用 jpg 的狀況下，用 SASS 進行排版練習
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/BMI-2018/", title="BMI計算機", target="_blank")  BMI計算機
                h5.text-opacity 使用 GULP、BS4、SASS、JS，製作 BMI 計算網頁，整合Firebase-Database 資料存取與調用
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="http://new-health.com.tw/2018_travel/index.html", title="2018獎勵旅遊競賽", target="_blank")  2018獎勵旅遊競賽
                h5.text-opacity 從畫版至使用 GULP、BS4、SASS 的功能，製作 RWD 活動網站
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="http://healthbook.com.tw/", title="新健康營養諮詢中心", target="_blank")  新健康營養諮詢中心
                h5.text-opacity 利用模板進行大幅地的客製化，製作的網站
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="http://nutraceutical.org.tw/conference_2017/", title="2017年營養醫學研討會", target="_blank")  2017年營養醫學研討會活動網站
                h5.text-opacity 使用 GULP、BS4、PUG、SASS 的功能，串接 Google Map API，製作 RWD 活動網站
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/Disaster-Prevention/", title="颱風防災資訊平台", target="_blank")  颱風防災資訊平台
                h5.text-opacity 整合 VUE、GULP、JS、PUG、SASS 的功能，串接 OPEN DATA 和 Google Map API，製作 颱風防災資訊平台
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/todolist/", title="To Do List", target="_blank")  To Do List
                h5.text-opacity 使用 VUE、SASS 的功能，製作 To Do List
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://codepen.io/Serment/full/aVwdJL", title="Bootstrap4 後台版型", target="_blank")  Bootstrap4 後台版型
                h5.text-opacity 使用 BS4，練習後台版型
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://codepen.io/Serment/full/mqREXo", title="Bootstrap4 六角西餐廳", target="_blank")  Bootstrap4 六角西餐廳
                h5.text-opacity 使用 BS4，練習 RWD 版型
            li.listHover.d-flex.flex-row +
              .d-flex.flex-column.justify-content-start
                a(href="https://silverfantacy.github.io/Kaohsiung-Travel-Information/", title="高雄旅遊資訊", target="_blank")  高雄旅遊資訊
                h5.text-opacity 使用 XMLHttpRequest獲取OPEN DATA 再進行 JS 處理